.root {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  &.notInteractive {
    cursor: default;
  }

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}
