@import "@/styles/variables";

.root {
  position: relative;
  min-height: 100vh;
  background-image: url('../../assets/background.webp');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper {
    max-width: 60%;
    margin: 0 auto;
    padding: 52px 0 64px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .root {
    .wrapper {
      max-width: 90%;
    }
  }
}
