.root {
  display: flex;
  align-items: center;
  margin: 60px auto 0;
  padding: 8px 31px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #313439;
  cursor: pointer;

  .loader {
    display: flex;
  }
}
